$primary-color: #272727;
$secondary-color: #ff652f;

/*
COLOR PALETTE
#996888 - Purple
#FEFCFB - Cream
#02020B - Black
#005E7C - Blue
#8A4F7D - Dark Purple
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}