/*
COLOR PALETTE
#D4AFB9 - pink
#D1CFE2 - lavender
#023436 - dark green
#00BFB3 - light green
#A53F2B - rust
*/


/*Global Styles
------------------------*/
body {
    color: #023436;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;;
}
img {
    width: 300px;
}
a {
    color: #D4AFB9;
}
a:hover {
    text-decoration: none;
}
h2 {
    margin: 0;
}
h1, h2 {
    font-family: 'Bebas Neue', sans-serif;
}
.content-wrap {
    width: 800px;
    margin: 0 auto;
    padding: 60px 0;
}
/*Profile
------------------------*/
header {
    background-color: #A53F2B;
    color: whitesmoke;
}
/*Projects
------------------------*/
.projects {
    background-color: #D4AFB9;
}
.projects a {
    color: #A53F2B;
}
.projects .btn {
    color: #A53F2B;
    background: #D1CFE2;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}
.projects a.btn:hover {
    background: rgba(209, 207, 226, 80%);
}

/*Work Experience
------------------------*/
.work-exp {
    background-color: #00BFB3;
}

/*Education
------------------------*/

/*Contact Info
------------------------*/
footer {
    background-color: #A53F2B;
    color: whitesmoke;
}