@import 'config';
@import 'menu';
@import 'motion';
@import 'animation';




/*Global Styles
------------------------*/
// html {
//     box-sizing: border-box;
// }
// *, *:before, *:after {
//     box-sizing: inherit;
// }

body {
    color: #005E7C;
    height: 100vh;
    font-family: 'Sintony', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

a {
    color: #996888;
}
a:hover {
    text-decoration: none;
}
h1 {
    font-size: 100px;
    line-height: 1;
}
h2 {
    font-size: 45px;
}
h1, h2 {
    font-family: 'Rufina', serif;
    font-weight: 400;
    margin: 0;
}
.content-wrap {
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
}
h3 {
    margin-bottom: 0;
}
.item-details h3 + p {
    font-style: italic;
}
.item-details h3 ~ p {
    margin: 0;
}
.divider > section {
    border-bottom: 1px dashed #996888;
    padding: 25px 0;
}
.divider > section:last-of-type {
    border-bottom: none;
}


/*Profile
------------------------*/
header {
    background-image: url(../images/Wall\ Texture.png);
    background-size: cover;
    background-position: center;
}

/*Projects
------------------------*/
.projects {
    background-color: #005E7C;
    color: #FEFCFB;
}

.projects .btn {
    color: #FEFCFB;
    background: #8A4F7D;
    text-decoration: none;
    padding: 8px;
    border-radius: 16px;
    display: inline-block;
}
.projects a.btn:hover {
    background: #996888;
    transition: all 1s;
}
.project-item {
    overflow: hidden;
}

.project-item h3 {
    margin-top: 0;
}

/*Work Experience
------------------------*/
.work-exp {
    background-image: url(../images/grey\ wall.png);
    background-size: cover;
    background-position: center;
    color: #02020B;
}

/*Education
------------------------*/
.education {
    background-color: #996888;
    color: #FEFCFB;
    padding-bottom: 50px;
}
.education p {
    width: 60%;
}

/*Contact Info
------------------------*/
footer {
    background-image: url(../images/grey_texture.jpg);
    background-size: cover;
    background-position: center;
    color: whitesmoke;
}
.contact-list {
    list-style-type: none;
    background: #FEFCFB;
    padding: 8px;
    border-radius: 16px;
    display: flex;
    justify-content: space-evenly;
}
.contact-list a {
    color: #005E7C;
    text-decoration: none;
}




/*Responsive
------------------------*/
@media screen and (min-width: 750px) {
    header, footer {
        text-align: center;
    }
    .project-item img {
        float:left;
        margin-right: 20px;
    }

    .job-item {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 20px;
    }
    .contact-list {
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 749px) {
    h1 {
        font-size: 75px;
        line-height: 0.9;
        margin-bottom: 20px;
    }
    h2 {
        line-height: 1;
    }
    .contact-list a {
        padding: 5px;
    }
    
}
 

 