/*
COLOR PALETTE
#996888 - Purple
#FEFCFB - Cream
#02020B - Black
#005E7C - Blue
#8A4F7D - Dark Purple
*/


/*Global Styles
------------------------*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: #005E7C;
    margin: 0;
    padding: 0;
    font-family: 'Sintony', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
img {
    width: 300px;
}
a {
    color: #996888;
}
a:hover {
    text-decoration: none;
}
h1 {
    font-size: 100px;
    line-height: 1;
}
h2 {
    font-size: 45px;
}
h1, h2 {
    font-family: 'Rufina', serif;
    font-weight: 400;
    margin: 0;
}
.content-wrap {
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
}
h3 {
    margin-bottom: 0;
}
.item-details h3 + p {
    font-style: italic;
}
.item-details h3 ~ p {
    margin: 0;
}
.divider > section {
    border-bottom: 1px dashed #996888;
    padding: 25px 0;
}
.divider > section:last-of-type {
    border-bottom: none;
}

/*Nav Bar adapted from https://dev.to/supanthapaul/create-a-simple-navbar-with-7-lines-of-css-4h7f
------------------------*/
nav {
    display: flex; 
    justify-content: space-between; 
    padding: 1rem 4rem; 
    background: #02020B; 
    position: sticky;
    top: 0;
}
  
nav ul {
    display: flex; 
    list-style: none; 
}
  
nav li {
    padding-left: 1rem; 
}
nav a {
    text-decoration: none;
}
nav ul li a:hover {
    color: #FEFCFB;
    transition: all 1s;
}

/*Profile
------------------------*/
header {
    background-image: url(../images/Wall\ Texture.png);
    background-size: cover;
    background-position: center;
}
/*.bkg-color {
    background-color: rgba(2, 2, 11, 0.4);
    background-size: cover;
}*/
/*Projects
------------------------*/
.projects {
    background-color: #005E7C;
    color: #FEFCFB;
}
/* Not in use right now
.projects a {
    color: #A53F2B;
}*/
.projects .btn {
    color: #FEFCFB;
    background: #8A4F7D;
    text-decoration: none;
    padding: 8px;
    border-radius: 16px;
    display: inline-block;
}
.projects a.btn:hover {
    background: #996888;
    transition: all 1s;
}
.project-item {
    overflow: hidden;
}

.project-item h3 {
    margin-top: 0;
}

/*Work Experience
------------------------*/
.work-exp {
    background-image: url(../images/grey\ wall.png);
    background-size: cover;
    background-position: center;
    color: #02020B;
}

/*Education
------------------------*/
.education {
    background-color: #996888;
    color: #FEFCFB;
    padding-bottom: 50px;
}
.education p {
    width: 60%;
}

/*Contact Info
------------------------*/
footer {
    background-image: url(../images/grey_texture.jpg);
    background-size: cover;
    background-position: center;
    color: whitesmoke;
}
.contact-list {
    list-style-type: none;
    background: #FEFCFB;
    padding: 8px;
    border-radius: 16px;
    display: flex;
    justify-content: space-evenly;
}
.contact-list a {
    color: #005E7C;
    text-decoration: none;
}
/*Motion from Assignment 2A
------------------------*/
.motion {
    padding: 1rem;
    margin: auto;
    max-width: 849px;
  }
  /* NOT IN USE RIGHT NOW
  .motion article {
    margin: 2rem auto;
    width: 80%;
    max-width: 1000px;
  }
  
  .motion h1 {
    color: #3abadf;
    font-size: 3rem;
    margin-left: 1rem;
  }
  
  .motion article p {
    border-left: solid 1px #dedede;
    padding-left: 1rem;
  }
  */
  .motionList {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 1rem;
  }
  
  .motionList li {
    background-color: #FEFCFB;
    border-radius: 6px;
    border: 1px dashed #996888;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1.8rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto minmax(140px, 1fr) auto;
  }
  
  .motionList h2,
  .motionList img {
    grid-row: 1 / 2;
    grid-column: 1;
  }
  /*TO DO - CHANGE TEXT WHEN ANIMATIONS ARE IN*/
  .motionList h2 {
    background-color: rgba(255, 255, 255, 0.5);
    color: #FEFCFB;
    padding: 0.5rem;
    margin-bottom: 1rem;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(51, 51, 51, 0.7);
    align-self: end;
  }
 
  .motion a {
    border-radius: 3px;
    background-color: #39bae6;
    color: #fff;
    height: 2rem;
    margin-top: 1rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .motion a:hover {
    background-color: #333;
  }

.motion .btn {
    color: #FEFCFB;
    background: #996888;
    text-decoration: none;
    padding: 8px;
    border-radius: 16px;
    transition: border .5s ease-out;
    transition: background-color 1s ease;
    transition: color 3s ease-in-out;
}
.motion a.btn:hover {
    background-color: #FEFCFB;
    color: #8A4F7D;
    border: 1px dashed #996888;
}

/*Responsive
------------------------*/
@media screen and (min-width: 750px) {
    header, footer {
        text-align: center;
    }
    .project-item img {
        float:left;
        margin-right: 20px;
    }

    .job-item {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 20px;
    }
    .contact-list {
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 749px) {
    h1 {
        font-size: 75px;
        line-height: 0.9;
        margin-bottom: 20px;
    }
    h2 {
        line-height: 1;
    }
    .contact-list a {
        padding: 5px;
    }
    nav {
        flex-direction: column;
    }
    nav ul {
        flex-direction: column;
        padding-top: 0.5rem;
    }
    nav li {
        padding: 0.5rem 0;
    }
}
  /*Responsive Motion from Assignment 2A
------------------------*/
  .motionList {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
/* NOT IN USE RIGHT NOW
  .motion article {
    width: 90%;
    display: flex;
    align-items: center;
  }

  .motion h1 {
    margin: 0 1rem 0 0;
  }

  .motion p {
    flex: 3;
  }
  */