/*
COLOR PALETTE
#D4AFB9 - pink
#D1CFE2 - lavender
#023436 - dark green
#00BFB3 - light green
#A53F2B - rust
*/


/*Global Styles
------------------------*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: #023436;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
img {
    width: 300px;
}
a {
    color: #D4AFB9;
}
a:hover {
    text-decoration: none;
}
h1 {
    font-size: 100px;
    line-height: 1;
}
h2 {
    font-size: 45px;
}
h1, h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    margin: 0;
}
.content-wrap {
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
}
h3 {
    margin-bottom: 0;
}
.item-details h3 + p {
    font-style: italic;
}
.item-details h3 ~ p {
    margin: 0;
}
.divider > section {
    border-bottom: 1px dashed #023436;
    padding: 25px 0;
}
.divider > section:last-of-type {
    border-bottom: none;
}

/*Profile
------------------------*/
header {
    background-color: #A53F2B;
    color: whitesmoke;
    text-align: center;
}
/*Projects
------------------------*/
.projects {
    background-color: #D4AFB9;
}
.projects a {
    color: #A53F2B;
}
.projects .btn {
    color: #A53F2B;
    background: #D1CFE2;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}
.projects a.btn:hover {
    background: rgba(209, 207, 226, 80%);
}
.project-item {
    overflow: hidden;
}
.project-item img {
    float:left;
    margin-right: 20px;
}
.project-item h3 {
    margin-top: 0;
}
/*Work Experience
------------------------*/
.work-exp {
    background-color: #00BFB3;
}
.job-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
}
/*Education
------------------------*/
.education {
    background-image: url(../placeholder\ images/annie-spratt-unsplash.jpg);
    background-size: cover;
    background-position: bottom center;
    padding-bottom: 100px;
}
.education p {
    width: 60%;
}

/*Contact Info
------------------------*/
footer {
    background-color: #A53F2B;
    color: whitesmoke;
    text-align: center;
}
.contact-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
.contact-list a {
    padding: 15px;
    display: inline-block;
}