$primary-color: #005E7C;
$secondary-color: #FEFCFB;
$accent-color: #996888;

/*
COLOR PALETTE
#996888 - Purple
#FEFCFB - Cream
#02020B - Black
#005E7C - Blue
#8A4F7D - Dark Purple
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}