.logo {
    max-width: 90px;
  }
  
  .navWrap {
    position: sticky; /*  ** note the menu will not be sticky until we add more page content */
    top: 0;
    z-index: 99;
    height: 48px;
    width: 100%;
    background-color: #212f54;
    border-bottom: 1px solid #e0e5eb;
    box-shadow: 0px 1px 8px #223055;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  input#navToggle {
    display: none;
  }
  
  input#navToggle ~ label {
    position: relative;
    padding: 0.25rem;
    width: 2rem;
    height: 1.25rem;
    height: 2rem;
  }
  
  input#navToggle ~ label > span,
  input#navToggle ~ label > span::before,
  input#navToggle ~ label > span::after {
    content: "";
    display: block;
    position: absolute;
    top: 0.75rem;
    height: 0.125rem;
    width: 1.75rem;
    opacity: 1;
    background: #fff;
    transition: 0.14s ease-in-out;
  }
  
  input#navToggle ~ label > span::before {
    top: -0.5rem;
  }
  
  input#navToggle ~ label > span::after {
    top: 0.5rem;
  }
  
  #navToggle:checked ~ label > span {
    width: 0;
    background: rgba(18, 18, 18, 0);
  }
  
  #navToggle:checked ~ label > span::before {
    transform: rotateZ(45deg);
    top: 0;
  }
  
  #navToggle:checked ~ label > span::after {
    transform: rotateZ(-45deg);
    top: 0;
  }
  
  #navToggle:checked ~ nav {
    left: 0;
  }
  
  nav {
    position: absolute;
    z-index: -1;
    top: 3rem;
    left: -110%;
    width: 100%;
    transition: 0.22s ease-in-out;
  }
  
  nav::after {
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    background-color: #13b1e7;
    background-size: cover;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul li a {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    padding: 0.75rem 1rem;
    color: #fff;
    border-bottom: solid 1px rgba(255, 255, 255, 0.5);
    transition: 0.14s ease-in-out;
  }
  
  nav ul li a:hover {
    color: #36bae6;
    background: #e0e5eb;
  }
  
  nav ul li:last-of-type::before {
    content: "";
    display: block;
    padding: 0.5rem;
  }
  
  nav .btn {
    background: #fff;
    border-bottom: none;
    border-radius: 4px;
    box-shadow: inset 0 0 5px #eeb80c;
    color: #223054;
    width: 40%;
    padding: 0.25rem 0.6rem;
    letter-spacing: 1px;
    text-shadow: 0 0 1px rgb(19, 177, 231);
    display: flex;
    justify-content: center;
    margin: auto;
  }
  
  nav .btn:hover {
    background-color: #223054;
    box-shadow: inset 0 0 5px #13b1e7;
    color: #fff;
  }